[user]
  name = Kevin Johnson
  email = kevinjohnsonpublic@gmail.com
[mergetool]
  keepBackup = false
[color]
	ui = auto
[push]
	default = matching
[core]
  excludesfile = ~/.gitignore
  editor = vim
